*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    font-size: 20px;
    background-color: black;
    height: 60px;
}
a{
    color: white;
    margin-right: 230px;
    text-decoration: none;
}
button{
    background-color: yellowgreen;
    padding: 3px;
}
input{
    width:200px;
    padding: 2px;
}
#anchor{
    color: lime;
    font-family:'Times New Roman', Times, serif;
}
